.formWrapper {
    width: 500px;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    margin: 5% 10%;
}

.formWrapper h2 {
    font-family: 'Poppins';
    color: white;
    font-weight: 200;
}

.formWrapper h3 {
    font-family: 'Poppins';
    font-weight: 200;
    color: white;
}

.inputs {
    display: flex;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
}

.formWrapper form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputs input, textarea {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Montserrat';
    padding: 0.5em;
    color: white;
    resize: none;
    margin: 0.5em 1em;
    font-weight: 100;
}

.inputs input {
    width: calc(50% - 2.5em);
}

.inputs textarea {
    flex-grow: 1;
}

input[type="submit"] {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 0.5em;
    font-size: 1rem;
    font-family: 'Montserrat';
    text-align: center;
    margin: 0.5em 1em;
    width: 5em;
    font-weight: 100;
}

.formWrapper input::placeholder, textarea::placeholder {
    color: white;
}

.checkboxes {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.checkboxes input {
    border: 0px;
}

.checkboxContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(50% - 0.5em);
    font-size: 1rem;
    font-weight: 200;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: white;
}

.checkboxContainer p {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Montserrat';
    margin-left: 0.5em;
}

.checkmark {
    height: 1em;
    width: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
}

.secondHalf {
    display: flex;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

@media (width < 700px) {
    .inputs input {
        width: calc(100%);
    }

    .formWrapper {
        width: 100%;
    }

    .checkboxContainer {
        flex-basis: 100%;
        width: calc(100% - 0.5em);
    }
}

