.content {
  max-width: 900px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.section-image {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

@media (width < 950px) {

  .section-image {
      width: 100%;
  }
}