.footer {
    font-family: 'Montserrat';
    color: var(--lal-blue);
    background-color: white;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}

.footerContent img {
    width: 300px;
}

.socialMediaIcons {
    display: flex;
}

.socialMediaIcons img {
    width: 50px;
}