.navbar {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 0.25rem 0.5rem;
}

.navbarContent {
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 3rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Montserrat;
}

.navbar li { 
    margin: 0 0.5rem;
}

.navbar ul a {
    text-transform: uppercase;
    color: var(--lal-blue);
    font-size: 0.8rem;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--lal-blue);
}